body{background-color:lightgrey ;
    padding-left:200px;
    padding-right:200px;
}
.image{
    background-color: blue;
}
img{
    height:300px;
    width:300px;
    margin:0;
}

.table-container{width:"900"
}

table{
    background-color: white;
    align-items:center;
    border:0;
    width:900;
    padding:20;
    word-spacing:20;
    margin-left: auto;
    margin-right:auto;

}
.intro{
    background-color: rgb(30,40,55);
    text-align: left;
    color:white;

}
.post{
    text-align:center;
}
.objective{
    background-color: rgb(113,189,189);
    width:35%;
    padding-left: 10px;
    padding-right: 10px;

    
}
.tab1{
    width:100%;
    padding: 7;
    background-color:  rgb(113,189,189);
}
.Hobbies{
    background-color:  rgb(113,189,189);;
}

.details{
    background-color: white;
    width:70%;
}

.edutitle{
    width:100%;
    padding:7px ;
}
.edu{
    background-color: rgb(30,40,55);
    color:white;
    column-span: 2px;
    height:30px;
}
.progtitle{
    width:100%;
    padding:7px ;
}
.prog1{
    background-color: rgb(30,40,55);
    color:white;
    column-span: 2px;
    height:30px;
}

.skill1{
    width:100%;
    padding:7px ;
}
.skilltitle{
    background-color: rgb(30,40,55);
    color:white;
    column-span: 2px;
    height:30px;
}
.data{
    text-align: left;
    padding-top: 10px;
}

